<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>
</head>
<body>
    <h1>Guess the Number!</h1>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Send</button>
    </form>
    
    <button onclick="window.location.href='/'">Reset</button>

    {% if attempts is not None %}
        <p>Attempts: {{ attempts }}</p>
    {% endif %}

    {% if result == -1 %}
        <p>The number is greater than the value you entered.</p>
    {% elif result == 1 %}
        <p>The number is less than the value you entered.</p>
    {% elif result == 0 %}
        <p>Congratulations! You guessed the number.</p>
    {% endif %}


    {% if leaderboard|length > 0 %}
    <h2>Leaderboard</h2>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <!-- make an index, entry for -->
                {% for entry in leaderboard %}
                <tr>
                        <td>{{ forloop.counter }}</td>
                        <td> {{ entry.score }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

</body>
</html>
